#showcaseEditor {
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    background-color: #e1e7eb;
    max-height: 100vh;
}



#workArea {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#showcaseEditorActionsTab {
    width: 30%;
}